<div class="video-area container-fluid" ng-class="{expanded: !$ctrl.isChatOpened}">
  <div ng-if="$ctrl.isConnected">
      <p>You are connected to {{$ctrl.roomId}}</p>
  </div>
  <div ng-if="!$ctrl.isConnected && !$ctrl.isLoading">
      <p>You left the room</p>
  </div>
  <div id="renderer" ng-class="{expandedWidth: !$ctrl.showSnapshotImage}"></div>
  <div id="snapshot" ng-if="$ctrl.showSnapshotImage" >
    <p>Snapshot</p>
    <a href class="close-chat" ng-click="$ctrl.closeSnapShotWindow()"><i class="fa fa-times"></i></a>
    <img id="snapshotImage" src="{{$ctrl.urlImage}}"/>
  </div>
</div>
